#offerRideMy, #askForRideMy {
    background-color: #b0dcea;
    text-align: center;
    font-weight: bold;
    padding: 10px 0;
    color: black !important;
}
#offerRideMy {
    background-color: #92acf8;
}


#newPost{
    text-align: center;
    font-size: 20px;
    border: 2px gray solid;
    padding:5px;
    margin-left: 40%;
    margin-right: auto;

    display:inline
}

.container{
    margin-top:20px;
}


.deleteBtn {

    margin-top: 5px;
}
